
.bg-pizza {
    background-image: url("../img/pizza.png");
}
.opaque-bg {
    background: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.bg-navbar {
    background: #f7f7f7;
    margin-bottom: 2em;
}